:root {
    --normal: #255acc;
    --dark: #173880;
    --light: #dce7ff;
    --p5-button-normal: #008CBA;
    --p5-button-dark: #00516c;
    --body-width: 70%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    margin-left: 40px;
}

li {
    padding-bottom: 2px;
}

a {
    color: #0000ee;
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232228;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    width: var(--body-width);
}

.right-section {
    background-color: white;
    flex: 0.7;
    padding: 10px;
}

.left-section {
    background-color: #dce7ff;
    flex: 0.3;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

.project-heading {
    color: #fff;
    width: 100%;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    color: var(--normal);
}

h4 {
    margin-top: 5px;
    text-align: center;
}

.job-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.left-heading {
    background-color: var(--normal);
    text-align: center;
    color: white;
    font-size: 1.4em;
    padding: 4px;
}

.left-text {
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.skill-marker {
    width: 0.75em;
    height: .75em;
    border-radius: 4px;
    border: 1px solid #000;
    margin-left: 2px;
}

.language-skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language-skill div {
    display: flex;
}

.full {
    background-color: var(--dark);
    border: 1px solid var(--dark);
}

.resume-box {
    padding: 16px;
    border-bottom: 1px solid black;
}

.progress-bar-container {
    height: 1em;
    width: 50%;
    background-color: #fff;
    border-radius: 4px;
}

.progress-bar {
    height: 1em;
    background-color: var(--dark);
    border-radius: 4px;
}

nav {
    background-color: var(--normal);
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding: 16px 24px;
}

nav li:hover {
    background-color: var(--dark);
}

nav a {
    text-decoration: none;
    color: white;
}

.active {
    background-color: var(--dark);
}

@media print {
    body {
        background-color: white;
    }

    main {
        width: 100%;
    }

    footer,
    nav {
        display: none;
    }
}

.projects-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.projects-nav {
    position: fixed;
    top: 80px;
    left: 0;
    color: white;
}

.projects-nav ul {
    list-style-type: none;
}

.projects-nav li {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: #313036;
    color: white;
}

.projects-nav li:hover {
    background-color: var(--dark);
}

.projects-nav a {
    color: white;
    text-decoration: none;
    display: block;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-left: 50px;
}

.card {
    background-color: #313036;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card:hover {
    cursor: pointer;
}

.card img {
    width: 100%;
}

.card h3 {
    color: white;
}

.card p,
.card h3 {
    padding: 4px;
}

.language-icons {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    right: 0
}

.language-icons svg {
    width: 4em;
    float: right;
    padding: 0;
    margin: 0;
}

.java {
    background-color: white;
    border-radius: 2px;
}

footer {
    color: white;
    background-color: #313036;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

footer svg {
    width: 1em;
    height: 1em;
    margin-right: 10px;
}

.footer-connect-row {
    display: flex;
    align-items: center;
    margin: 4px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: row;
}

.carousel-container i {
    background-color: #232228;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    text-align: center;

}

.carousel-container i:hover {
    background-color: var(--dark);
}

.carousel-img {
    max-width: 400px;
}

@media screen and (max-width: 1200px) {
    .projects-nav {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #projects {
        flex-direction: column;
        margin: 0;
    }

    .card {
        width: 100%;
    }

    main {
        width: 100%;
    }
}