body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.center, canvas {
	margin: auto;
	text-align: center;
}

.heading {
	background-color: #44546A;
	width:100%;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
}

.section-text {
	padding: 8px;
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 34px;
	font-weight: bold;
	padding: 8px;
}

h2 {
	color:white;
	font-size: 20px;
	text-align: center;
}

h3 {
	font-size: 24px;
	text-decoration: underline;
	font-weight: bold;
	padding-bottom: 8px;
	padding-top: 8px;
	text-align: center;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 8px;
	text-align: center;
}

h5 {
	font-size: 20px;
	text-align: center;
}

section ul {
	display: block;
	list-style-type: disc; 
	margin-top: 1em; 
	margin-bottom: 1em; 
	margin-left: 0; 
	margin-right: 0; 
	padding-left: 40px;
}

section li  {
	display: list-item;
	margin-bottom: 8px;
}

#left {
	background-color: #E7E6E6;
	flex:0.3;
}

.row {
	display: flex;
	margin: 0 auto;
	border: 1px solid black;
	border-top:none;
	width:50%;
}

#left p {
	margin-bottom: 10px;
}

#right {
	flex: 0.7;
	float:left;
	padding: 8px;
}

.underline {
	border-bottom: 1px solid black;
}

.br {
	margin-top:32px;
}

nav {
	width:100%;
	background-color: #44546A;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10%;
  overflow: hidden;
  background-color: #44546A;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active, li a:hover {
	background-color: #202f45;
}

.

.option-group-heading {
	font-weight: bold;
}